.btn-neo {
   background-color: transparent;
   font-weight: semibold;
   color: #444;
   font-size: 1rem;
   padding: 1rem 1.5rem;
   border: 2px solid #eee;
   border-radius: .5rem;
   cursor: pointer;
   transition: all 1s ease;
   box-shadow: .5rem .5rem 1rem #ccc,
      -.5rem -.5rem 1rem #fff;
}

.btn-neo:hover {
   box-shadow: .5rem .5rem 1rem #fff,
      -.5rem -.5rem 1rem #ccc;
}

.btn-neo:active {
   box-shadow: inset .2rem .2rem 1rem #fff,
      inset -.2rem -.2rem 1rem #ccc;
}